* {
  -webkit-user-select: none;  /* Disable selection/copy of elements when tapping for a long time */
  -webkit-touch-callout: none; /* Disable touch callouts */
}

input {
  -webkit-user-select: text;  /* Allow selection for input elements */
}

.content-padded {
  padding: 10px;
}

.topcoat-navigation-bar {
    background: #A8253B;
}

.topcoat-navigation-bar__title {
	color: #dddddd;
}

.topcoat-icon-button:active,
.topcoat-icon-button--large:active,
.topcoat-icon-button:focus,
.topcoat-icon-button--quiet:focus,
.topcoat-icon-button--quiet:hover:focus,
.topcoat-icon-button--large:focus,
.topcoat-icon-button--large--quiet:focus,
.topcoat-icon-button--large--quiet:hover:focus,
.topcoat-icon-button:hover,
.topcoat-icon-button--quiet:hover,
.topcoat-icon-button--large:hover,
.topcoat-icon-button--large--quiet:hover{
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.list-item {
    color: #111111;
	background-color: #dddddd;
}