<div ng-controller="FilterCtrl">
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
        </div>

        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">Filter</h1>
        </div>

        <div class="topcoat-navigation-bar__item right quarter">
            <button class="topcoat-icon-button" hm-tap="hideFilter()">
                <span class="topcoat-icon icon-close"></span>
            </button>
        </div>
    </div>

    <div class="nearby-container">
        <p>Type:</p>
        <div class="topcoat-button-bar">
            <label class="topcoat-button-bar__item">
                <input type="radio" ng-model="type" value="places">
                <button class="topcoat-button-bar__button">All</button>
            </label>
            <label class="topcoat-button-bar__item">
                <input type="radio" ng-model="type" value="restaurants">
                <button class="topcoat-button-bar__button">Restaurants</button>
            </label>
            <label class="topcoat-button-bar__item">
                <input type="radio" ng-model="type" value="bars">
                <button class="topcoat-button-bar__button">Bars</button>
            </label>
        </div>

        <p>Max Distance:</p>
        <div class="topcoat-button-bar">
            <label class="topcoat-button-bar__item">
                <input type="radio" ng-model="rad" value="5">
                <button class="topcoat-button-bar__button">5 mi</button>
            </label>
            <label class="topcoat-button-bar__item">
                <input type="radio" ng-model="rad" value="10">
                <button class="topcoat-button-bar__button">10 mi</button>
            </label>
            <label class="topcoat-button-bar__item">
                <input type="radio" ng-model="rad" value="20">
                <button class="topcoat-button-bar__button">20 mi</button>
            </label>
        </div>

        <p>Sort By:</p>
        <div class="topcoat-button-bar">
            <label class="topcoat-button-bar__item">
                <input type="radio" ng-model="order" value="">
                <button class="topcoat-button-bar__button">Distance</button>
            </label>
            <label class="topcoat-button-bar__item">
                <input type="radio" ng-model="order" value="name">
                <button class="topcoat-button-bar__button">Name</button>
            </label>
            <label class="topcoat-button-bar__item">
                <input type="radio" ng-model="order" value="updated_at">
                <button class="topcoat-button-bar__button">Derp</button>
            </label>
        </div>

    </div>

</div>

