<div ng-app="placesApp">

    <div ng-controller="MapCtrl">

        <div class="topcoat-navigation-bar">
            <div class="topcoat-navigation-bar__item left quarter">
                <button class="topcoat-icon-button" hm-tap="back()">
                    <span class="topcoat-icon icon-back"></span>
                </button>
            </div>

            <div class="topcoat-navigation-bar__item center half">
                <h1 class="topcoat-navigation-bar__title">Map</h1>
            </div>


            <div class="topcoat-navigation-bar__item right quarter">
                <button class="topcoat-icon-button" hm-tap="back()">
                    <span class="topcoat-icon icon-list"></span>
                </button>
            </div>
        </div>

        <google-map center="center" draggable="true" zoom="zoom" markers="markers" fit="true"
                    style="height: 360px; display: block"></google-map>

    </div>

</div>